
@{
    ViewData["Title"] = "displayValidUserInfo";
}
@model portfolio1_with_template.Models.user_with_validation
<h1>displayValidUserInfo</h1>


<p1> firstName :: @Model.firstName </p1>
<h1> lastname :: @Model.lastName </h1>
<p> age :: @Model.age </p>
<h1> email @Model.email </h1>
<p1> password @Model.password </p1>